.main-wrapper {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.main-wrapper > form {
    padding: 80px;
    height: -webkit-fill-available;
}
.main-wrapper > form > .progress-bar-cont  .logo {
    width: 125px;
    height: 80px;
}
.main-wrapper > form > .progress-bar-cont  .progress > .progress-bar {
    background: transparent linear-gradient(90deg, #4734E1 0%, #8E27EA 100%) 0% 0% no-repeat padding-box;
}
.main-wrapper > form  > section button.bttn{
    padding: 20px 60px;
    text-transform: capitalize;
    background-color: white;
    border: #707070 solid 1px;
    outline: none;
    border-radius: 45px;
    color: #141212;
    font-size: 22px;
}
.main-wrapper > form  > section button.bttn.next {
    background: transparent linear-gradient(90deg, #4734E1 0%, #8E27EA 100%) 0% 0% no-repeat padding-box;
    border: none;
    margin-left: 35px;
    color: white;
}

.main-wrapper section.form-1 .form-cont {
    margin-top: 60px;
}
.main-wrapper section.form-1 .form-cont  h1.home-main-text {
    font-size: 46px;
    margin-bottom: 55px;
}

.main-wrapper section.form-1 .form-cont  .form-control,
.main-wrapper section.form-1 .form-cont .custom-select  {
    background: #EFEFEF;
}
.main-wrapper section.form-1 .form-cont .form-group {
    margin-bottom: 0;
}
.main-wrapper section.form-1 .form-cont .form-group.radio-grp > div {
    display: flex;
    align-items: center;
    margin-top: 7.5px;
}

.main-wrapper section.form-1 .form-cont input[type="text"],
.main-wrapper section.form-1 .form-cont .custom-select,
.main-wrapper section.form-1 .form-cont .b-form-datepicker.form-control {
    height: 70px;
    align-items: center;
}
.main-wrapper section.form-1 .form-cont .gender-cont {
    align-items: center;
    align-content: center;
    display: flex;
}

.main-wrapper section.form-1 .form-cont  .custom-control.custom-radio {
    margin-left: 20px;
}
.form-2-wrapper {
    margin-top: 100px;
}
.form-2-wrapper > .btn-cont:not(:last-child) {
    margin-bottom: 30px;
}
.form-2-wrapper > .btn-cont:last-child {
    margin-bottom: 50px;
}
.btn-cont > .text-title {
    margin-bottom: 25px;
    font-size: 26px;
}
.btn-cont > .btnSec {
    margin: 0;
}
.btn-cont > .btnSec > .form-group {
    margin-bottom: 0;
}
.btn-cont > .btnSec > .form-group .btnOpt {
    all: unset;
}
.btn-cont > .btnSec > .form-group .btnOpt label.btn {
    padding: 10px 45px !important;
    margin-top: 10px;
}
.btn-cont > .btnSec > .form-group .btnOpt label.btn > span {
    font-size: 18px;
}




.btnOpt label{
    margin-right: 10px;
    border-radius: 35px!important;
    background: #EFEFEF;
    border: none;
    color: black;
    padding: 15px 50px!important;
}

.btnOpt label:before{
    content: "\f164";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
}
.btnOpt label:hover, .btnOpt label:active{
    background: #ebeaea;
    color: black;
}

label.btn.btn-outline-primary.btn-lg.active{
    background: #cac9c9 !important;
    color: black;
    border: none !important;
}

.focus{
     box-shadow: none !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active{
    background: #cac9c9 !important;
}
